body, html{
    font-family: arial;
}

.weatherDiv{
    text-align: center;
    width: 200px;
    border: 2px solid #999;
    border-radius: 7px;
    margin: 0 auto;
}

.weatherHead{
    background: rgb(71, 120, 194);
    color: white;
    font-size: 1.5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.weatherMain{
    padding-top: 10px;
    padding-bottom: 30px;
}

.weatherInfo{
    font-weight: bold;
    padding-top: 8px;
    font-size: 1.1em;
}